{% extends "fitlogs.html" %}

{% block view %}							

									<ul  class="nav nav-tabs">
									          <li ><a href="/fitlogs/" >{{username}}</a></li>
									          <li class="active"><a href="/fitlogs/logit"> Logit</a></li>
									          <li><a href="#"> Progress</a></li>
									        
									    </ul>
								
								
								<form class="form-horizontal" action="" method="post">
									  	{% csrf_token %} 
								            <fieldset>
									
									{{ formset.management_form }}
									
								        <div class="control-group">
								            <label class="control-label" for="id_log_Date">Date</label>
								            <div class="controls">
								             
								              {{form.log_Date}}
								              
								              	    {% for error in form.log_Date.errors %}
														        <span class="label label-important">{{ error|escape }}</span>
														    {% endfor %}
								              <p class="help-block">Enter date of your workout.</p>
								            </div>
								          </div>
								          
								          <div class="control-group">
								            <label class="control-label" for="id_type">Type of Day</label>
								            <div class="controls">
								       
								              {{form.type}}
								              	    {% for error in form.type.errors %}
														        <span class="label label-important">{{ error|escape }}</span>
														    {% endfor %}
								              <p class="help-block">Chest Day? Leg Day? Cardio Day?</p>
								            </div>
								          </div>
										
										<div class="control-group">
								            <label class="control-label" for="id_weight">Today's Weight</label>
								            <div class="controls">
								            
								             {{form.weight}}
								              	    {% for error in form.weight.errors %}
														        <span class="label label-important">{{ error|escape }}</span>
														    {% endfor %}
								              <p class="help-block">Enter your current weight.</p>
								            </div>
								          </div>
								          								          
								          {% for form in formset %}
								          {{form.errors}}
								          
								          	
 												 <div class="span12">
                                                      <table class="table table-striped table-hover table-bordered table-condensed">
                                                                                <thead>
                                                                                    
                                                                              
                                                                                
                                                                                  <tr>
                                                                                   
                                                                                    <th>Workout</th>
                                                                                    <th>Duration</th>
                                                                                    <th>Reps</th>
                                                                                    <th>Resistance</th>
                                                                                    
                                                                                  </tr>
                                                                                </thead>
                                                                                
                                                                                <tbody>
                                                                                
                                                                                  <tr>
                                                                                  
                                                                                   
                                                                                    <td>{{form.workout}}</td>
                                                                                    <td>{{form.duration}}</td>
                                                                                    <td> {{form.reps}}</td>
                                                                                    <td>  {{form.resistance}}</td>
                                                                                    
                                                                                   
                                                                                  </tr>
                                                                                
                                                                                </tbody>
                                                                              </table>
                                                                              </div>

								       
								        <input class="btn btn-primary" title='Del' type='submit' name='del_workout' value='Delete' />
								        
								       {% endfor %}
								       								          														
								</fieldset>
								    
								  
								  <div class="modal-footer">
								  	<input class="btn btn-primary" title='Add' type='submit' name='add_workout' value='Add' />
								    <input class="btn btn-primary" type="submit" name='submit' value="Submit">
								  </div>
								  </form>	
{% endblock %}	