{% extends 'fitlogs.html'%}

{% block view %}
									<ul  class="nav nav-tabs">
									          <li ><a href="/fitlogs/" >Journal</a></li>
									          <li ><a href="/fitlogs/logit"> Logit</a></li>
									          <li class="active"><a href="/fitlogs/progress"> Progress</a></li>
									        
									    </ul>




average for month: {{ aver }}
{% for month in dates %}
	{{month}}

{%endfor%}






{% endblock %}
