

<!DOCTYPE html>
	<html>
    <head><script type='text/javascript'>window.mod_pagespeed_start = Number(new Date());</script>
        <title>FitNotes</title>
                
        
       <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700"rel=stylesheet type='text/css'>

                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <link href="/static/bootstrap-responsive.css" rel="stylesheet">
                      
                       
                   
                    <link href="/static/bootstrap.css" rel="stylesheet" type="text/css">
             
           
                <link rel="shortcut icon" href="/static/cool.ico"/>
            
        </head>
        <body>

                
            {% block content %}

            {% endblock %}
                
         <script src="/static/jquery.js"></script>
		<script src="/static/bootstrap.js"></script>
		<script>$(".collapse").collapse();</script>
		<script>$('.typeahead').typeahead();</script>
            </body>
</html>